.todo-list-item {
  position: relative;
  padding: 5px 20px;
  margin: 5px 0;
  cursor: pointer;
  transform: scale(1);
  transition: 0.2s all cubic-bezier(0,0,0,0.4);
  &:hover {
    transform: scale(1.02);
  }
  &__delete {
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    opacity: 0.3;
    padding: 10px 0;
    margin: 0 10px;    
    &:hover {
      opacity: 1;
    }
    &:before, 
    &:after {
      position: absolute;
      left: 7px;
      content: ' ';
      height: 16px;
      width: 2px;
      background-color: #333;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

.no-tasks {
  color: black;
  padding: 5px 20px;
  margin: 5px 0;  
}
