@font-face {
  font-family: 'Over Pass';
  src: url('./fonts/overpass-thin.woff2') format('woff2'),
       url('./fonts/overpass-thin.woff') format('woff');
}

@font-face {
  font-family: 'Penna';
  src: url('./fonts/penna.woff2') format('woff2'),
       url('./fonts/penna.woff') format('woff');
}
html,
body{
  width: 100%;
  height: 100%;
  margin: 0;
}


.main-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}